@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
}

body {
  font-family: "Quicksand", arial, sans-serif;
}

h1 {
  font-size: 4em;
  font-family: "Quicksand", arial, sans-serif;
}

p,
nav,
a {
  font-size: 1em;
}

.main {
  min-height: 100vh;
  padding: 0;
}

/*tohle je ze stránky*/
.background {
  position: relative;
  width: 100%;
}

.background::before {
  content: "";
  background-image: url(/images/background-medium.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
}

/*tohle je ze stránky*/
main {
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-items: center;
  align-items: center;
}

.header__logo {
  height: 60px;
}

.menu {
  background-color: #BD1114;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu__link {
  display: block;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu__link:hover, .menu__link:focus {
  background-color: white;
  color: #BD1114;
}

.reference {
  display: inline-block;
}

ul {
  list-style: none;
}

.footer {
  background-color: #BD1114;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
.footer__name {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
}
.footer__email {
  grid-column: 1/2;
  grid-row: 2/2;
  text-decoration: none;
  color: white;
}
.footer__lastname {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 0;
  margin: 0;
}
.footer__tel {
  grid-column: 2/2;
  grid-row: 2/3;
}
.footer__email-carier {
  grid-row: 1/3;
  grid-column: 3/4;
  color: white;
  text-decoration: none;
}
.footer__button {
  grid-column: 4/5;
  grid-row: 1/3;
  padding: 0.5em;
  text-decoration: none;
  display: inline-block;
}
.footer__copyright {
  grid-row: 4/4;
  grid-column: 1/5;
}

.foote__button {
  text-decoration: none;
}

.price {
  width: 60%;
}
.price .price__colum {
  margin: 0 50px;
  border: 1px dotted;
}
.price .price__row {
  border: 1px dotted;
}
.price__nadpis {
  padding: 10px;
}
.price__columi {
  border: 1px dotted;
  text-align: right;
}

.order {
  margin: 5em;
  padding: 0.5em;
}

.nadpis {
  margin: 0;
  padding: 0;
}

.order__link {
  padding: 0.5em;
}

.index {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.index .main__uvod-i {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 50%;
  margin: 50px 20px auto 50px;
}
.index .main__imgone {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  padding: 2em 5em 2em 5em;
}
.index .main__uvod-ii {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 50%;
  margin: 50px 20px auto 50px;
}
.index .main__imgtwo {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  margin: 50px 20px 50px 50px;
}

@media screen and (max-width: 450px) and (orientation: landscape) {
  .index {
    display: inline-block;
    width: 100%;
  }
}
form {
  width: 100%;
  max-width: 60%;
}

.form {
  display: flex;
  padding: 1em;
}

.form label {
  flex: 0 0 20%;
}

.form input {
  flex: 1 1 100%;
  background-color: #FF7373;
}

.form select,
.form textarea {
  flex: 1 1 100%;
  background-color: #FF7373;
}

.jmenicko {
  padding-top: 5em;
}

.submit {
  margin-left: 50%;
}

.carrier {
  margin: 0;
  padding: 0;
}
.carrier__h {
  margin: 0;
  padding-top: 3em;
}
.carrier .email-carier {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */