@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
}

body {
  font-family: "Quicksand", arial, sans-serif;
}

h1 {
  font-size: 4em;
  font-family: "Quicksand", arial, sans-serif;
}

p,
nav,
a {
  font-size: 1em;
}

.main {
  min-height: 100vh;
  padding: 0;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2em;
  }
}
* {
  padding: 0;
  margin: 0;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #BD1114;
  height: 4em;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 1em;
}

nav ul,
div ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul a,
div ul a {
  color: white;
}

nav ul li,
div ul li {
  padding: 5px;
  margin-left: 10px;
  background-color: #BD1114;
}

nav ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #BD1114;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 4em;
  left: 0;
  height: calc(100vh - 4em);
  width: 100%;
}

@media only screen and (max-width: 800px) {
  header nav {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
}
.reference {
  display: inline-block;
  padding-top: 2em;
  padding-left: 3em;
  text-align: left;
}
.reference__ul {
  list-style: none;
  display: inline-block;
}

li a {
  color: black;
}

.footer {
  background-color: #BD1114;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
.footer__name {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
}
.footer__email {
  grid-column: 1/2;
  grid-row: 2/2;
  text-decoration: none;
  color: white;
}
.footer__lastname {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 0;
  margin: 0;
}
.footer__tel {
  grid-column: 2/2;
  grid-row: 2/3;
}
.footer__email-carier {
  grid-row: 1/3;
  grid-column: 3/4;
  color: white;
  text-decoration: none;
}
.footer__button {
  grid-column: 4/5;
  grid-row: 1/3;
  padding: 0.5em;
  text-decoration: none;
  display: inline-block;
}
.footer__copyright {
  grid-row: 4/4;
  grid-column: 1/5;
}

.foote__button {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .footer {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .footer__name, .footer__email, .footer__lastname, .footer__tel, .footer__email-carier, .footer__button, .footer__copyright {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
.price {
  width: 80%;
  margin: 0.5em auto;
}
.price .price__colum {
  margin: 0 50px;
  border: 1px dotted;
}
.price .price__row {
  border: 1px dotted;
}
.price__nadpis {
  padding: 10px;
}
.price__columi {
  border: 1px dotted;
  text-align: right;
}
.price__paragraph {
  margin: 2em auto;
  text-align: center;
}

.order {
  margin: 2em auto;
  padding: 0.5em;
  margin: 0 45%;
}

.nadpis {
  margin: 0;
  padding: 0;
}

.index {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.index .main__uvod-i {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 50%;
  margin: 50px auto;
  margin-bottom: 0;
}
.index .main__imgone {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  margin: 2em auto 0 auto;
  padding-right: 2em;
}
.index .main__uvod-ii {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 50%;
  margin: 0 auto 0 auto;
}
.index .main__imgtwo {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  margin: 0 auto 0 2em;
  margin-bottom: 2em;
}

@media screen and (max-width: 800px) {
  .index {
    display: inline-block;
    width: 100%;
  }
  .index .main__uvod-i,
  .index .main__imgone,
  .index .main__imgtwo,
  .index .main__uvod-ii {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  .index .main__imgone,
  .index .main__imgtwo {
    display: block;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
form {
  width: 100%;
  max-width: 100%;
}

.form {
  display: flex;
  padding: 1em;
}

.form label {
  flex: 0 0 30%;
}

.form input {
  flex: 1 1 100%;
  background-color: #FF7373;
}

.form select,
.form textarea {
  flex: 1 1 100%;
  background-color: #FF7373;
}

.jmenicko {
  padding-top: 5em;
}

.submit {
  margin-left: 30%;
  padding: 1em;
}

.carrier {
  margin: 0;
  padding: 0;
}
.carrier__h {
  margin: 0;
  padding-top: 3em;
}
.carrier .email-carier {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.carrier__paragraph, .carrier__h {
  padding-bottom: 1em;
  padding-left: 2em;
}
.carrier__para {
  padding-top: 2em;
  padding-left: 2em;
}
.carrier__list {
  padding-left: 2em;
  list-style: none;
}

/*tohle je ze stránky*/
.background {
  position: relative;
  width: 100%;
}

.background::before {
  content: "";
  background-image: url(/images/background-medium.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
}

/*tohle je ze stránky*/
main {
  position: relative;
}

.rpz,
.sr,
.ras,
.diag {
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: 0.7fr 1.5fr;
}
.rpz__lab,
.sr__lab,
.ras__lab,
.diag__lab {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0;
  padding-left: 2em;
  padding-top: 2em;
}
.rpz__paragraph,
.sr__paragraph,
.ras__paragraph,
.diag__paragraph {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 2em;
  margin-top: 1em;
}
.rpz__img,
.sr__img,
.ras__img,
.diag__img {
  max-height: 250px;
  grid-column: 2/3;
  grid-row: 1/3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

@media screen and (max-width: 800px) {
  .rpz,
  .sr,
  .ras,
  .diag {
    display: block;
    text-align: center;
  }
  .rpz__img,
  .sr__img,
  .ras__img,
  .diag__img {
    max-height: 200px;
    padding: 1em 0 1em 0;
  }
  .rpz__lab,
  .sr__lab,
  .ras__lab,
  .diag__lab {
    margin: 0;
    padding: 1em;
  }
  .rpz__paragraph,
  .sr__paragraph,
  .ras__paragraph,
  .diag__paragraph {
    margin: 0;
    padding: 0;
  }
}
.szz,
.ldd,
.mob,
.trox {
  display: grid;
  grid-template-columns: 60% 20%;
  grid-template-rows: 0.7fr 1.5fr;
}
.szz__teraine,
.ldd__teraine,
.mob__teraine,
.trox__teraine {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
  padding-top: 2em;
}
.szz__paragraph,
.ldd__paragraph,
.mob__paragraph,
.trox__paragraph {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-bottom: 5%;
  padding-top: 1em;
}
.szz__img,
.ldd__img,
.mob__img,
.trox__img {
  max-height: 300px;
  grid-column: 1/2;
  grid-row: 1/3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
  .szz,
  .ldd,
  .mob,
  .trox {
    display: inline-block;
    text-align: center;
  }
  .szz__img,
  .ldd__img,
  .mob__img,
  .trox__img {
    max-height: 200px;
  }
}
.contact {
  text-align: center;
}
.contact__nadpis {
  padding-top: 1em;
}
.contact__paragraph {
  padding-top: 1em;
  padding-bottom: 1em;
}
.contact__button {
  padding: 0.7em;
}/*# sourceMappingURL=style.css.map */