.carrier {
    margin: 0;
    padding: 0;

    &__h {
        margin: 0;
        padding-top: 3em;

    }

    .email-carier {
        color: black;
        text-decoration: none;
        font-weight: bold;
        
    }

    &__paragraph,
    &__h {
        padding-bottom: 1em;
        padding-left: 2em;
    }

    &__para {
        padding-top: 2em;
        padding-left: 2em;
    }

    &__list {
        padding-left: 2em;
        list-style: none;
    }
}

@media screen and (max-width: 800px) {
    .carrier {
        text-align: center;

        &__paragraph,
        &__h,
        &__para,
        &__list {
            padding-left: 0.5em;
            padding-right: 0.5em;
        }

    }
}