


/*tohle je ze stránky*/
.background {
    position: relative; 
     width: 100%;

}

.background::before {
    content: "";
    background-image: url(/images/background.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.15;
}
/*tohle je ze stránky*/


main {
    position: relative;
   
}

.header {
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-items: center;
    align-items: center;
}

.header__logo {
    height: 60px;

}

.menu {
    background-color: #BD1114;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
   
}

.menu__link {
    display: block;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}