.index {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .main__uvod-i {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 50%;
        // max-width: 370 px;
        margin: 50px 20px auto 50px;
    }

    .main__imgone {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: 100%;
        // max-width: 350px;
        padding: 2em 5em 2em 5em;
        // padding: 10em;

    }

    .main__uvod-ii {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 50%;
        margin: 50px 20px auto 50px;
    }

    .main__imgtwo {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 100%;
        margin: 50px 20px 50px 50px;
    }
}

@media screen and (max-width: 450px) and (orientation: landscape) {
//     // .index {
//     //     display: grid;
//     //     grid-template-columns: repeat(auto-fit, 1fr);
//     //     grid-template-rows: repeat(4, 1fr);
        
//     //     .main__uvod-i {
//     //         grid-column: 1 / 2;
//     //         grid-row: 1 / 1; 
//     //     }

//     //     .main__imgone {
//     //         grid-column: 2 / 3;
//     //         grid-row: 2 / 2;
//     //     }
//     // }
    .index {
        display: inline-block;
        width: 100%;
    }
}