.rpz,
.sr,
.ras,
.diag {
    display: grid;
    grid-template-columns: 20% 60%;
    grid-template-rows: 1fr 1fr;

    &__lab {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0;
        padding: 0;
        // width: 30%;
    }

    &__paragraph {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    &__img {
        max-height: 250px;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 600px) {
    .rpz,
    .sr,
    .ras,
    .diag {
        display: inline-block;
        text-align: center;

        &__img {
            max-height: 200px;
        }

    }
}