body {
    font-family: Quicksand, arial, sans-serif;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.3;
}