@use 'barvy';

.price {
    width: 80%;
    margin: 0.5em auto;
    
    // border: 1px dotted;
    // padding-top: 2.5em;

    .price__colum {
        margin: 0 50px;
        border: 1px dotted;
    }

    .price__row {
        border: 1px dotted;
    }

    &__nadpis {
        padding: 10px;
    }

    &__columi {
        border: 1px dotted;
        text-align: right;
    }

    &__paragraph {
        margin: 2em auto;
        text-align: center;
    }
}

.order {
    margin: 2em auto;
    // color: barvy.$menu-font;
    padding: 0.5em;
    margin: 0 45%;
}

.nadpis {
    margin: 0;
    padding: 0;
}

// .order__link {
//     padding: 0.5em;
// }