.reference {
    // display: inline-block;
    padding-top: 2em;
    padding-left: 3em;
    // text-align: left;


}

a {
    color: black;

}

@media screen and (max-width: 800px) {
    .reference__p {
        display: block;
        padding-left: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
}


